.white {
    color: #fff !important;
    padding: .3em;    
}

.white svg {
    fill: #fff;
}

.white::before {
    border-bottom: none !important;
}

.white::after {
    border-bottom: none !important;
}